/*! common.css */
.row-margin {
    margin-right: -15px;
    margin-left: 10px;
}

.padding-bottom {
	padding-bottom: 80px;
}

.table-header {
	background-color: #3c8dbc;
	color:#ffffff;
}

.padding-left-30 {
	padding-left: 30px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

